name: Equicord/Equicord synchronization

on:
    schedule:
        - cron: "0 * * * *"
    workflow_dispatch:

jobs:
    sync:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            workflows: write

        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  fetch-depth: 0

            - name: Add Upstream
              run: git remote add upstream ${{ vars.UPSTREAM_REPO }}

            - name: Fetch upstream
              run: |
                  git config user.name "github-actions[bot]"
                  git config user.email "github-actions[bot]@users.noreply.github.com"
                  git fetch upstream

            - name: Remove .github
              run: |
                   git checkout upstream/main
                   git reset -- .github/**/*

            - name: Rebase
              run: |
                   git checkout main
                   git rebase upstream/main

            - name: Force Push
              run: git push --force-with-lease origin main

